.dashboard {
    height: 100%;
    width: 85%;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 2rem;
    margin: auto;
    justify-content: space-evenly;
}

.profile-box {
    position: absolute;
    width: 140px;
    height: 140px;
    margin-left: 20px;
    z-index: 2;
}

.profile-picture {
    width: 100px;
    height: 100px;
}

.inner-title {
    font-size: 1.2rem;
    text-align: center;
    font-weight: normal;
}

.inner-text {
    text-align: left;
    font-size: 0.8em;
}

.photo-widget {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 0.5rem;
    justify-content: space-evenly;
}

.chart-container {
    position: relative;
    width: 100%;
    padding: 0;
    text-align: center;
}

.chart {}

.weather-container {
    text-align: center;
    padding: 0;
}

.weather-info {
    margin: 0;
}

.weather-icon {
    float: left;
}

.weather-icon img {
    width: 100%;
}

.weather-temp {
    float: right;
    font-size: 1.5rem;
}

.location {
    position: static;
    width: inherit;
    height: auto;
    margin: 0;
    text-align: center;
    font-size: 1.6rem;
}

.location p {
    margin: auto;
    width: fit-content;
}

.task-container input[type="text"] {
    width: 200px;
    height: 30px;
    font-size: 1.4rem;
    background: transparent;
    border: none;
    border-bottom: solid;
    margin-top: 10px;
}