.main-title {
    padding: 4% 0;
    margin-bottom: 0;
}

.lr-container {
    position: relative;
    height: 650px;
    width: 80%;
    margin: auto;
}

.lr-btn-container {
    position: absolute;
    width: 400px;
    margin: auto;
    text-align: center;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
}

.input-container {
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 200px;
    grid-row-gap: 50px;
    width: 675px;
}

.sign-up {
    font-size: 1.5rem;
    color: white;
}