.small-img, .large-img {
    border-style: solid;
    border-color: rgb(255, 228, 92);
    border-radius: 5px;
}

.large-img {
    width: 280;
    height: 280;
    background-color: white;
}

.small-img {
    width: 80px;
    height: 70px;
    background-color: white;
}

.upload-container {
    width: 210px;
    height: 175px;
    display: block;
    position: relative;
    border-style: solid;
    border-color: rgb(255, 228, 92);
    background-color: rgba(128, 116, 56, 0.3);
    margin: auto;
    text-align: center;
    cursor: pointer;
}

.upload-container span {
    position: relative;
    margin: auto;
    width: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: white;
}